

html, body{
    width: 650px; 
    -webkit-text-size-adjust:100%;
}


.results-div {
    margin-top: 35px;
    /* padding-top: 125px; */
}
.results {
    padding: 5px 0px 0px 10px; 
}

.search-div {
    width: 280px; 
}

.search-field {
    position: absolute;
    vertical-align: middle;
    margin-top: 5px;
    height: 19px;
    width: 200px;
}

.search-button {
    width: 60px;
    height: 24px;
    margin: 1px 0px 0px 0px; 
}
.search-button-div {
    float: right;
    margin-top: 5px;
}

#id-search-field {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 5px 3px 0px 4px;
    width: 200px;    
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    font-style: italic;  
}




