---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.hexagon 
{
	position: absolute; 
	width: 20px;
	height: 100px;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
}

.hexagon-in2
{
	width: 100%;
	height: 100%;
	visibility: visible;
	transform: rotate(-60deg);
	repeat: no-repeat;
	position: 50%;
	
	//background: url('http://lorempixel.com/g/250/350/people');
}
  
.hexagon-in2:hover
{
	background-color: rgba( 125, 125, 125, 0.5);
	
	//background: black; 
	//background: url('http://lorempixel.com/250/350/people');	
}

.home
{
	width: 100%;
	margin: 0 auto; 
	text-align: center; 
}

.spacer
{
	color: black; 
	font-size: 20px; 
}

.hex
{
	position: absolute;
    display:block;
	font-size: 40px; 
	background-color: rgba( 125, 125, 125, 0);
    /* -webkit-transform: rotate(-30deg); */
    /* -moz-transform: rotate(-30deg); */
}

.hex-water, .hex-town, .hex-field, .hex-forest, .hex-mountain, .hex-swamp, .hex-desert, .hex-water
{
	//position: absolute;
	//text-decoration:none !important;
}

.hex-water
{
	/* color: blue;  */
	background: #3232FF;
}
.hex-town
{
	/* color: gray;  */
	background: gray; 
}
.hex-field
{
	/* color: light-green;  */
	background: #66CD00;
}
.hex-forest
{
	/* color: dark-green;  */
	background: #308014;
}
.hex-mountain
{
	/* color: dark-gray;  */
	background: #444444;
}
.hex-swamp
{
	/* color: black;  */
	background: black; 
}
.hex-desert
{
	/* color: yellow;  */
	background: yellow;
}

.button1, .button2, .button3, .button4
{
	width: 30%;
	height: 150px;
	margin: 10px; 
	min-width: 200px; 
}

.button1
{
	/* background-color: red; */
	background-color: #F54F20;
}

.button2
{
	/* background-color: yellow; */
	background-color: #FBB508;	
}

.button3
{	
	/* background-color: green; */
	background-color: #7DB909;
}

.button4
{
	/* background-color: blue; */
	background-color: #02A4EF;	
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
