---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


.mapContainer
{
	position: relative; 
	float: right; 
	height: 118px; 
	width: 118px; 
	overflow: hidden; 
	border-radius: 10px; 
	border-style: solid; 
	border-width: medium;
	margin: 5px 50px 0 10px;
	z-index: 1; 	
}
.knightContainer
{
	position: relative; 
	float: right; 
	top: 55px; 
	right: -79px; 
	overflow: hidden; 
	height: 19px; 
	width: 19px; 
	z-index: 2; 	
}
#knightPic
{
	background: url(http://vignette2.wikia.nocookie.net/lego/images/e/ec/HeroicKnight.jpg/revision/latest?cb=20121203132017);
	background-size: 90% 100%;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.userResources, .worldResources, .worldInformation, .knightInformation
{
	position: relative; 
	float: right; 
	width: 20%;
	height: 120px; 
	border-radius: 5px; 
	border-style: solid; 
	border-width: medium;
	margin: 0 10px 0 10px;
	padding: 10px; 
	text-align: left;
	background: white; 
	z-index: 1; 
	
}

.stackedDiv 
{
	height: 160px;
}

.coinblock
{
	position: fixed; 
	text-align: center; 
	bottom: 0; 
	width: 100%;
	background: white; 
	z-index: 2; 
}

.hex 
{
	position: relative; 
	float: left; 
	visibility: visible;
	height: 16px;
	width: 16px; 
	border: 1px black; 
	margin: 0 -8px; 
}

.hexColumn
{
}

.hex:hover
{
	background-color: rgba(125,125,125,.5);
}

.hex-water, .hex-town, .hex-plains, .hex-forest, .hex-mountain, .hex-swamp, .hex-desert, .hex-clouds
{
	//opacity: 0.5;
}

.hex-water
{
	/* color: blue;  */
	background: #3232FF;
}
.hex-town
{
	/* color: gray;  */
	background: gray; 
}
.hex-plains
{
	/* color: light-green;  */
	background: #66CD00;
}
.hex-forest
{
	/* color: dark-green;  */
	background: #308014;
}
.hex-mountain
{
	/* color: dark-gray;  */
	background: #444444;
}
.hex-swamp
{
	/* color: black;  */
	background: black; 
}
.hex-desert
{
	/* color: yellow;  */
	background: yellow;
}
.hex-cloud
{
	/* color: white;  */
	background: #DDDDDD;
}

.button1, .button2, .button3, .button4
{
	width: 30%;
	height: 150px;
	margin: 10px; 
	min-width: 200px; 
}

.button1
{
	/* background-color: red; */
	background-color: #7DB909;
}

.button2
{
	/* background-color: yellow; */
	background-color: #02A4EF;	
}

.button3
{	
	/* background-color: green; */
	background-color: #F54F20;
}

.button4
{
	/* background-color: blue; */
	background-color: #FBB508;	
}

.page-title
{
	margin-top: 10px; 
	text-align: center;	
	font-weight: bold; 
	font-size: 20px; 
}

.world-nav 
{
	position: absolute;
	top: 0px;
	right: 15px;
	background-color: #fdfdfd;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	text-align: right; 
}
.world-nav .menu-icon 
{
	display: block;
	float: right;
	width: 36px;
	height: 23px;
	line-height: 0;
	padding-top: 10px;
	text-align: center; 
}
.world-nav .menu-icon > svg 
{
	width: 18px;
	height: 15px; 
}
.world-nav .menu-icon > svg path 
{
	fill: #424242; 
}
.world-nav .trigger 
{
	clear: both;
	display: none; 
}
.world-nav:hover .trigger 
{
	display: block;
	padding-bottom: 5px; 
}
.world-nav .page-link 
{
	display: block;
	padding: 5px 10px;
	margin-left: 20px; 
}
.world-nav .page-link:not(:last-child) 
{
	margin-right: 0; 	
}

.twinkle {
    //background: green;
    //padding: 0.2em;
    //margin: 50px;
}

@-webkit-keyframes twinkly {
    0%   { opacity: 0.1; }
    100% { opacity: 1; }
}
@-moz-keyframes twinkly  {
    0%   { opacity: 0.1; }
    100% { opacity: 1; }
}
@-ms-keyframes twinkly  {
    0%   { opacity: 0.1; }
    100% { opacity: 1; }
}

.twinkle{
    -webkit-animation: twinkly 0.5s alternate infinite;
    -moz-animation: twinkly 0.5s alternate infinite;
    -ms-animation: twinkly 0.5s alternate infinite;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
